.App {
  margin: 0;
  height: 5000px;
  text-align: center;
  background-image: url(https://st3.depositphotos.com/7530824/12606/i/950/depositphotos_126068402-stock-photo-gradient-splattered-rainbow-background-hand.jpg);
}
.joke-answer-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  margin-top: 1%;
  padding: 35px;
  align-items: center;
  height: 300px;
  width: 700px;
  row-gap: 50px;
  background-color: white;
  box-shadow: 3px, 4px, 4px;
}

.joke-text {
  color: blueviolet;
}

.answer-text {
  color: blue;
}
.header-card {
  background: url(https://rogerfarnworth.files.wordpress.com/2016/09/jokes_for_kids_av2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  height: 400px;
  width: 800px;
}
